################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EduGraphSamples/ClubsCreation
/EduGraphSamples/.vs/EduGraphSamples/v16/Server/sqlite3
/edugraphsamples/C#/EduGraphSamples/ClassCreation/bin
/edugraphsamples/DotNet Core/EDUScheduler/bin
